###
### Configuration created on 150305-0144
###
_LOCAL_NETWORK_HN=""
_LOCAL_NETWORK_IP=""
_MY_FRONT=""
_MY_HOSTN=""
_MY_OWNIP="192.168.1.244"
_SMTP_RELAY_HOST=""
_SMTP_RELAY_TEST=YES
_THIS_DB_HOST=localhost
###
_AUTOPILOT=NO
_DEBUG_MODE=NO
_MY_EMAIL=""
_XTRAS_LIST="HVM"
###
_MODULES_FIX=NO
_MODULES_SKIP=""
_PERMISSIONS_FIX=NO
###
_CPU_CRIT_RATIO=9
_CPU_MAX_RATIO=6
_CPU_SPIDER_RATIO=3
###
_DB_BINARY_LOG=NO
_DB_ENGINE=InnoDB
_DB_SERIES=5.5
_DB_SERVER=MariaDB
_INNODB_LOG_FILE_SIZE=AUTO
###
_DNS_SETUP_TEST=NO
_EXTRA_PACKAGES=
_FORCE_GIT_MIRROR=""
_LOCAL_DEBIAN_MIRROR=ftp.debian.org
_LOCAL_UBUNTU_MIRROR=archive.ubuntu.com
_NEWRELIC_KEY=
_SCOUT_KEY=
###
_NGINX_DOS_LIMIT=300
_NGINX_EXTRA_CONF=""
_NGINX_FORWARD_SECRECY=NO
_NGINX_LDAP=NO
_NGINX_NAXSI=NO
_NGINX_SPDY=NO
_NGINX_WORKERS=AUTO
###
_PHP_CLI_VERSION=5.5
_PHP_EXTRA_CONF=""
_PHP_FPM_DENY=""
_PHP_FPM_VERSION=5.5
_PHP_FPM_WORKERS=AUTO
_PHP_GEOS=NO
_PHP_MONGODB=NO
_PHP_MULTI_INSTALL="5.5"
_PHP_SINGLE_INSTALL=
###
_REDIS_LISTEN_MODE=PORT
_RESERVED_RAM=0
_SPEED_VALID_MAX=3600
_SSH_FROM_SOURCES=NO
_SSH_PORT=22
_SSL_FROM_SOURCES=NO
_STRICT_BIN_PERMISSIONS=YES
_STRONG_PASSWORDS=NO
###
_CUSTOM_CONFIG_CSF=NO
_CUSTOM_CONFIG_LSHELL=NO
_CUSTOM_CONFIG_REDIS=NO
_CUSTOM_CONFIG_SQL=NO
###
_AEGIR_UPGRADE_ONLY=NO
_SYSTEM_UPGRADE_ONLY=NO
###
