###
### Configuration created on 150305-0245 with
### Octopus version BOA-2.4.0
###
_USER="o1"
_MY_EMAIL=""
_PLATFORMS_LIST="D8D D8B D7P D7S D7D D6P D6S D6D CME CS7 FSR GDR OA7 OOH OPC OSR PPY RER RST UC7"
_AUTOPILOT=YES
_HM_ONLY=NO
_DEBUG_MODE=NO
_MY_OWNIP=
_FORCE_GIT_MIRROR=""
_THIS_DB_HOST=localhost
_DNS_SETUP_TEST=NO
_HOT_SAUCE=NO
_USE_CURRENT=YES
_DEL_OLD_EMPTY_PLATFORMS=0
_DEL_OLD_BACKUPS=0
_DEL_OLD_TMP=0
_LOCAL_NETWORK_IP=
_PHP_FPM_VERSION=5.5
_PHP_CLI_VERSION=5.5
_PHP_FPM_WORKERS=AUTO
_PHP_FPM_TIMEOUT=AUTO
_PHP_FPM_DENY=""
_STRONG_PASSWORDS=NO
_SQL_CONVERT=NO
_RESERVED_RAM=0
###
_DOMAIN=""
_CLIENT_EMAIL=""
_CLIENT_OPTION="SSD"
_CLIENT_SUBSCR="Y"
_CLIENT_CORES="8"
###
